.App {
    background-position: center;
    background-position: fixed;
    background-color: rgb(207, 207, 207);
    padding-top: 7rem;
    min-height: 100vh;
}

.navbar {
    position: fixed;
    background-color: #195790 !important;
}

/* .container img {
    width: 100px;
    height: 100px;
} */